In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import emoji

In [34]:
raw_data_csv = pd.read_csv('_chat.txt', delimiter = "\t", header = None, names = ['text'])
data = pd.read_csv('_chat.txt', delimiter = "\t", header = None, names = ['text'])

In [6]:
print(raw_data_csv.shape)
print(data.shape)

(76232, 1)
(76232, 1)

In [8]:
data.head()

                                                text
0  [19/06/2019 10:13:42] Got New: Help personne a...
1                 [19/06/2019 10:13:43] Got New: Svp
2             [19/06/2019 10:14:07] Paul Perrin: Mdr
3  [19/06/2019 10:14:41] Paul Perrin: Personne a ...
4  [19/06/2019 10:15:29] Got New: Nan mais on se ...

In [9]:
raw_data_csv.head()

                                                text
0  [19/06/2019 10:13:42] Got New: Help personne a...
1                 [19/06/2019 10:13:43] Got New: Svp
2             [19/06/2019 10:14:07] Paul Perrin: Mdr
3  [19/06/2019 10:14:41] Paul Perrin: Personne a ...
4  [19/06/2019 10:15:29] Got New: Nan mais on se ...

In [22]:
data["text"].str.replace("[","").str.split("] ", 1, expand=True)

                         0                                                  1
0      19/06/2019 10:13:42  Got New: Help personne a un sac à dos assez gr...
1      19/06/2019 10:13:43                                       Got New: Svp
2      19/06/2019 10:14:07                                   Paul Perrin: Mdr
3      19/06/2019 10:14:41  Paul Perrin: Personne a un chat blanc tout noi...
4      19/06/2019 10:15:29                   Got New: Nan mais on se comprend
...                    ...                                                ...
76227  27/10/2020 22:11:01        Axel Aubrun: Tu te barres le vendredi à 17h
76228  27/10/2020 22:11:02            Pablo Veyrat: Bonnard pour les chômeurs
76229  27/10/2020 22:11:04                          Axel Aubrun: Tu t’adaptes
76230  27/10/2020 22:11:24                         Aymeric Gt: Yes c’est vrai
76231  27/10/2020 22:11:42             Henri: Confinement local paris y passe

[76232 rows x 2 columns]

In [35]:
# Extract datetime
data[['datetime_str','text_2']] = data["text"].str.replace("[","").str.split("] ", 1, expand=True)
data["datetime"] = pd.to_datetime(data["datetime_str"], format="%d/%m/%Y %H:%M %S", errors='ignore')
#data = data.dropna(subset=['datetime'])
#data = data.drop(columns = ['datetime_str'])

In [36]:
data

,text,datetime_str,text_2,datetime
0,[19/06/2019 10:13:42] Got New: Help personne a...,19/06/2019 10:13:42,Got New: Help personne a un sac à dos assez gr...,19/06/2019 10:13:42
1,[19/06/2019 10:13:43] Got New: Svp,19/06/2019 10:13:43,Got New: Svp,19/06/2019 10:13:43
2,[19/06/2019 10:14:07] Paul Perrin: Mdr,19/06/2019 10:14:07,Paul Perrin: Mdr,19/06/2019 10:14:07
3,[19/06/2019 10:14:41] Paul Perrin: Personne a ...,19/06/2019 10:14:41,Paul Perrin: Personne a un chat blanc tout noi...,19/06/2019 10:14:41
4,[19/06/2019 10:15:29] Got New: Nan mais on se ...,19/06/2019 10:15:29,Got New: Nan mais on se comprend,19/06/2019 10:15:29
...,...,...,...,...
76227,[27/10/2020 22:11:01] Axel Aubrun: Tu te barre...,27/10/2020 22:11:01,Axel Aubrun: Tu te barres le vendredi à 17h,27/10/2020 22:11:01
76228,[27/10/2020 22:11:02] Pablo Veyrat: Bonnard po...,27/10/2020 22:11:02,Pablo Veyrat: Bonnard pour les chômeurs,27/10/2020 22:11:02
76229,[27/10/2020 22:11:04] Axel Aubrun: Tu t’adaptes,27/10/2020 22:11:04,Axel Aubrun: Tu t’adaptes,27/10/2020 22:11:04
76230,[27/10/2020 22:11:24] Aymeric Gt: Yes c’est vrai,27/10/2020 22:11:24,Aymeric Gt: Yes c’est vrai,27/10/2020 22:11:24
76231,[27/10/2020 22:11:42] Henri: Confinement local...,27/10/2020 22:11:42,Henri: Confinement local paris y passe,27/10/2020 22:11:42

In [37]:
# Extract sender and message
data[['sender','text_message']] = data['text_2'].str.split(': ', 1, expand=True)
data = data.dropna(subset=['text_message'])
data = data.drop(columns = ['text','text_2'])

In [40]:
data["year"]

,datetime_str,datetime,sender,text_message
0,19/06/2019 10:13:42,19/06/2019 10:13:42,Got New,Help personne a un sac à dos assez gros pour p...
1,19/06/2019 10:13:43,19/06/2019 10:13:43,Got New,Svp
2,19/06/2019 10:14:07,19/06/2019 10:14:07,Paul Perrin,Mdr
3,19/06/2019 10:14:41,19/06/2019 10:14:41,Paul Perrin,Personne a un chat blanc tout noir svp
4,19/06/2019 10:15:29,19/06/2019 10:15:29,Got New,Nan mais on se comprend
...,...,...,...,...
76227,27/10/2020 22:11:01,27/10/2020 22:11:01,Axel Aubrun,Tu te barres le vendredi à 17h
76228,27/10/2020 22:11:02,27/10/2020 22:11:02,Pablo Veyrat,Bonnard pour les chômeurs
76229,27/10/2020 22:11:04,27/10/2020 22:11:04,Axel Aubrun,Tu t’adaptes
76230,27/10/2020 22:11:24,27/10/2020 22:11:24,Aymeric Gt,Yes c’est vrai
76231,27/10/2020 22:11:42,27/10/2020 22:11:42,Henri,Confinement local paris y passe

In [ ]:
data.

In [41]:
pd.value_counts(data["sender"]).ipynb_checkpoints/pl

Thibault Hirsch        8729
Alexandre Deniau       7215
Aymeric Gt             7108
Paul Perrin            7006
Bertrand Dejean        6385
Thibaut Patrat         6223
Augustin Houette       5820
Xavier De Vogue        3696
Robert Darcy           3260
Henri                  2801
Nicolas Chayenko       2126
Geo Tdh                2124
Augustin Viellard      2098
Got New                1983
Axel Aubrun            1704
‪+33 7 55 46 29 28‬    1555
Pablo Veyrat           1345
‪+91 84569 91893‬       721
‪+41 76 823 82 06‬      673
‪+95 9 771 483531‬      342
‪+33 6 63 12 92 02‬     176
Name: sender, dtype: int64

In [45]:
data.sort("datetime")

AttributeError: 'DataFrame' object has no attribute 'sort'